/* latin-ext */
@font-face {
  font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/allura/v9/9oRPNYsQpS4zjuA_hQgWDto.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/allura/v9/9oRPNYsQpS4zjuA_iwgW.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

*, :after, :before {
  box-sizing: border-box; }

body {
  font-family: "Allura", cursive, "Arial", san-serif;
  font-size: 16px;
  color: #ffff;
  min-height: 100vh;
  background-color: #adadad;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

h2 {
  font-size: 4rem;
  text-align: center; }

input:focus {
  outline: none; }

a, button {
  cursor: pointer; }

.btn-submit {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #e4e4e4;
  border: 2px solid #e4e4e4; }

.container {
  display: block;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.errors {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: white;
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid red;
  z-index: 10; }
  .errors .error__item {
    color: black;
    font-family: 'Arial', san-serif;
    font-size: 1rem; }

.menu ul li a {
  position: relative;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  z-index: 1;
  font-family: 'Arial', san-serif;
  padding: 10px 0 10px 25px;
  display: inline-block; }
  .menu ul li a:after {
    content: '';
    width: 0px;
    height: 2px;
    background: #7a7a7a;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    transition: ease 0.5s;
    z-index: -1; }
  .menu ul li a:hover:after {
    width: 100%; }

.form .form__wrap {
  max-width: 920px;
  height: 524px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5), inset 3px 4px 5px rgba(222, 206, 206, 0.75); }
  .form .form__wrap .form__border {
    height: 100%;
    max-width: 100%;
    width: 100%;
    display: flex; }
    .form .form__wrap .form__border .border__image {
      max-width: 85%;
      width: 100%;
      height: calc(100% - 107px);
      z-index: 1;
      position: relative;
      background-color: #506b64;
      box-shadow: inset 0 0 40px 5px rgba(0, 0, 0, 0.5), 0 -1px 5px rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: auto; }
      .form .form__wrap .form__border .border__image .border__image-head {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: -20px;
        width: 80%;
        z-index: -1; }
      .form .form__wrap .form__border .border__image .border__image-bottom {
        position: absolute;
        right: 20px;
        bottom: 0px;
        width: 50px;
        height: auto;
        z-index: -1; }
      .form .form__wrap .form__border .border__image .form__item {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0; }
  form .form__title {
    margin: 0; }
  form .form__body {
    width: 100%;
    text-align: center; }
    form .form__body .input-row label {
      font-size: 3rem;
      margin-right: 25px;
      min-width: 160px;
      display: inline-block; }
    form .form__body .input-row input {
      height: 45px;
      max-width: 200px;
      width: 100%;
      display: inline-block;
      border-radius: 5px;
      padding: 5px 15px;
      font-size: 1.3rem;
      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.5);
      color: #ffff; }
    form .form__body > *:not(:last-of-type) {
      margin-bottom: 15px; }
    form .form__body .btn-submit {
      position: absolute;
      right: 40px;
      bottom: 40px; }
