@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

@mixin flexColumnStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin bgImgCover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

@mixin bgImgContain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
}